---
layout: about_page
title: About
subtitle: About me and this site
---
<div id = "aboutCSS">
<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Aleksandar Minja</h1>
					<h2>Teaching Assistant @ University of Novi Sad </h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a  class = "button icon fa-download" href="{{site.baseurl}}/assets/files/aminja_cv.pdf">Download PDF</a></h3>
						<!--<h3><a href="mailto:name@yourdomain.com">name@yourdomain.com</a></h3>
						<h3>(313) - 867-5309</h3>-->
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
                This page shows only the relevant information about me. For a more detailed profile please check my <a href="https://www.linkedin.com/in/aleksandar-minja-89b98329">Linkedin</a> page or send me an email.
              </p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Modeling and Simulation</h2>
									<p>Experience in modeling, simulation and analysis of complex communication systems in MATLAB or implemanting a custom solution.</p>
								</div>

								<div class="talent">
									<h2>Communication System Design</h2>
									<p>Capable of designing complex communication systems from start to finish. Practicle experience in design of satelite and network communication systems.</p>
								</div>

								<div class="talent">
									<h2>Telecommunication Algorithm Design</h2>
									<p>Experience in algorithm design for distributed network systems, point to point communications and system simulations. </p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>C/C++</li>
								<li>Python</li>
                <li class="last">Java</li>
							</ul>

							<ul class="talent">
								<li>Haskell</li>
								<li>JavaScript</li>
								<li class="last">GoLang</li>
							</ul>

							<ul class="talent">
								<li>Linux</li>
								<li>Windows 10</li>
								<li class="last">Android</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					{% for entry in site.data.about_data %}
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>{{entry.title}}</h2>
						</div>

						{% for exp in entry.subentry %}
						<div class="yui-u">
							<div class="job {% if exp.last %}last{% endif %}">
								<h2>{{exp.name}}</h2>
								<h4>{{exp.time}}</h4>
								<p>{{exp.activity}}</p>
							</div>
						</div>
						{% endfor %}

					</div>
					{% endfor %}

          <div class="yui-gf last">
						<div class="yui-u first">
							<h2>Disclaimer</h2>
						</div>
						<div class="yui-u">
							<!--<h2>About this site</h2>-->
              <p>This site is not about <em>selling</em> some product, but rather a tool to help me organize some common programming concepts in a meaningfull unit and share them with other users on the internet. Playng with <em>github pages</em> and <em>Jekyll</em> is a <strong>++</strong>. Constructive comments and suggestions are always welcome.</p></br>
              <p>The name <strong>Only1Sale</strong> comes from my nickname <strong>Sale</strong> which is a <em>hypocoristic</em> of <strong>Saša</strong>, a common slavic nickname for <strong>Aleksandar</strong>.
              <strong><em>There is Only1Sale</em></strong> on the front page is a reference to one of my favourite movies - <a target="_blank" href="http://www.imdb.com/title/tt0091203/">Higlander</a>.</p>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<!--<div id="ft">
			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div> --><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
</div> <!--//aboutCSS -->
