---
layout: default
---

{% include banner.html %}

<!-- Info -->
	<section id="one" class="wrapper style2 special">
				<div class="container">
					<header>
						<h2>The goal is to educate myself and others</h2>
						<p>This blog covers topics in programming, computer science and telecommunication theory.</p>
					</header>
					<div class="row 200%">
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-university"></i>
							<p>“Give a man a program, frustrate him for a day. Teach a man to program, frustrate him for a lifetime.”</p>
							<p>― Waseem Latif </p>
						</section>
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-code"></i>
							<p>When programming one must remember that "Simplicity is the ultimate sophistication".</p>
							<p>― Leonardo da Vinci</p>
						</section>
						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-flask"></i>
							<p>Main principle of scientific research: “If at first you don't succeed, destroy all evidence that you tried.”</p>
							<p>― Steven Wright</p>
						</section>
					</div>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
				<!--	{% include post_info.html position = 'left'%}
					{% include post_info.html position = 'right'%} -->

					{% for post in site.categories.news limit:6 %}
					<!--{% include post_info.html post = pp %}-->
					<article class="feature left">
					  <span class="image"><img src="{{site.baseurl}}/images/pic02.jpg" alt="" /></span>
					  <div class="content">
					    <h2>{{post.title}}</h2>
					    <p>{{post.meta}}</p>
					    <ul class="actions">
					      <li>
					        <a href="{{site.baseurl}}{{post.url}}" class="button alt">More</a>
					      </li>
					    </ul>
					  </div>
					</article>
					{% endfor %}
				</div>
			</section>

		<!-- Two -->
	<!--		<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Aliquam Blandit Mauris</h2>
						<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic10.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="#" class="button big alt">Tempus Aliquam</a></li>
					</ul>
				</div>
			</section> -->

		<!-- Three -->
	<!--		<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Magna sed consequat tempus</h2>
						<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">Magna feugiat</a></li>
					</ul>
				</div>
			</section> -->
