<!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="https://www.linkedin.com/in/aleksandar-minja-89b98329" class="icon fa-linkedin">
          <span class="label">LinkedIn</span>
        </a></li>
        <li><a href="mailto:only1sale@gmail.com" class="icon fa-envelope">
          <span class="label">Mail</span>
        </a></li>
        <li><a href="https://www.facebook.com/aleksandar.minja" class="icon fa-facebook">
          <span class="label">Facebook</span>
        </a></li>
        <!--<li><a href="#" class="icon fa-google-plus">
          <span class="label">Google Plus</span>
        </a></li>-->
      </ul>
      <ul class="copyright">
        <li>&copy; 100%Sale.</li>
        <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
        <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
      </ul>
    </div>
  </footer>
