<!-- Header -->
  <header id="header" {% if page.url == '{{site.baseurl}}/index' %} class="alt" {% endif %}>
    <h1><a href="{{site.baseurl}}/index.html">only1sale</a></h1>
    <a href="#nav">Menu</a>
  </header>

  <!-- Nav -->
    <nav id="nav">
      <ul class="links">
        <li><a href="{{site.baseurl}}/index">Home</a></li>
        <li><a href="{{site.baseurl}}/tutorials">Tutorials</a></li>
        <li><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li><a href="{{site.baseurl}}/news">News</a></li>
        <li><a href="{{site.baseurl}}/about">About</a></li>
      </ul>
    </nav>
