<article class="feature {{include.position}}">
  <span class="image"><img src="{{site.baseurl}}/images/pic01.jpg" alt="" /></span>
  <div class="content">
    <h2>Integer vitae libero acrisus egestas placerat  sollicitudin</h2>
    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
    <ul class="actions">
      <li>
        <a href="#" class="button alt">More</a>
      </li>
    </ul>
  </div>
</article>
